<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>虎里虎途 小老虎</title>
</head>
<body background="\pics\小老虎養成日記 首頁.png">
   
</body>

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script>
        liff.init(
            data => {
                //you can call LIFF API
                liff.getProfile().then(profile =>{
                    //拿取profile
                    document.getElementById('displayName').innerHTML = profile.displayName
                })
            },
            err => {
                //LIFF initialization failed
            }
        )
    </script>
    </html>