<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>五分車遊虎尾</title>
    <style>
    #img1{transform:rotate(270deg);} 
    </style>
</head>
<body style="background-image:url( 'stamp.png' );background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: 100% 100%;">
    <div class = "page2">

    </div>
</body>
</html>